:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}
::selection{
    color: var(--background-color);
    background-color: #696969;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
/* News */
.news{
    background-color: #19be7b;
    text-align: center;
    padding: 10px;
}
.news a{
    color: navy;
    font-size: 12px;
}

/* Navbar */
nav{
    background-color: #0f3156;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
nav .left a img{
    padding-top: 10px;
    width: 150px;
}
nav .center a{
    color: var(--background-color);
    font-size: 16px;
    margin: 0 10px;
}
nav .center a:hover{
    padding-bottom: 3px;
    border-bottom: 3px solid#19be7b;
}
nav .right a{
    color: var(--background-color);
}
nav .right a:not(:has(span)):hover{
    padding-bottom: 3px;
    border-bottom: 3px solid #19be7b;
}
nav .right a span{
    color: var(--background-color);
    background-color: #19be7b;
    border: 2px solid #19be7b;
    padding: 6px 20px;
    margin: 0 20px;
}

/* Navbar 2 */
.nav2 {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav2 .left a {
    color: #525252;
    font-size: 15px;
    margin: 0 15px;
}
.nav2 .left a:hover{
    color: var(--text-color);
}
.nav2 .right .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #0f3156;
    border-radius: 50px;
    padding: 0 15px;
    width: 410px;
    background-color: transparent;
}
.nav2 .right .search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 10px;
    font-size: 14px;
    background: transparent;
    color: #1a1c20;
}
.nav2 .right .search-box input::placeholder {
    color: #555;
}
.nav2 .right .search-box i {
    color: #333;
    font-size: 18px;
    cursor: pointer;
}


/* Brands */
.brands{
    width: 80%;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}
.brands a img{
    margin: 14px;
    width: 108px;
}
.brands .big{
    width: 58px;
}



/* Responsive */
/* Media 600 */
@media (max-width: 600px){
}